body{
  background: linear-gradient(to right, #BBDEEA, #8bdeff,#5cafea, #607F80);
  height: 100vh;
  margin: 0;
}
.header{
  display: flex;
}
.logo-and-name{
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 20px;
}

.logo-and-name img {
  height: 26px;
  margin-right: 5px;
  margin-top: 3px;
  border-radius: 5px;
}

.comp-name{
  font-family: Helvetica;
  font-weight: 600;
}
